body{
    font-family: "Lora", serif;
    margin: 0px;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./images/car_bg.png);
    background-position:right;
    background-size: cover;
    
}
.navbar{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px ;
    
}
.text{
    position: absolute;
    left: 50%;
    top: 15%;
    color: white;
    text-align: end;
    width: 40%;
}
.text h2{
    font-weight: 700;
    font-size: 51px;
}
.text p{
    font-weight: 700;
    font-size: 28px;
}
.About{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    padding-left: 0px;
    padding-right: 0px;

}
.About > .note{
    width: 40%;
    height: fit-content;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 5%;
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    color: #232730;
    position: relative;
    top: -30px;
}
.About > .car-img{
    position: relative;
    top: 80px;
}


.services{
    width: 100%;
    height: 758px;
    background-color: #dfdfdf;
    background-image: url("./images/service_bg_car.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#servi{
    font-size: 180px;
    font-weight: 700;
    font-family:  "Lora", serif;
    color: whitesmoke;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}
#servil{
    font-family:  "Lora", serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #12273D;
    margin-top: 0%;
    position: relative;
    top: -90px;
}

.serices-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.serices-text > div{
    width: 250px;
    text-align: center;
}
.serices-text p{
    height: 200px;
    letter-spacing: -0.5%;
}
.frame{
    height: 850px;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.9;
    
}
.f{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.headd{
    width: 343px;
    height: 165px;
    justify-self: center;
}
.flx{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    
}
.car1{
    width: 378px;
    height: 520px;
    background-color: white;  
    
}
.car1 > p{
    justify-self: center;
}
.car2{
    width: 378px;
    height: 520px;
    background-color: white;
}
.car2 > p{
    justify-self: center;
}
.car3{
    width: 378px;
    height: 520px;  
    background-color: white;  
}
.car3 > p{
    justify-self: center;
}

.car-gallary{
    width: 1314px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    column-gap: 0px;
}
.car-gallary>div{
    height: 275px;
    width: 428px;
    margin: 0;

}
.car-gallary>div>img{
    width: 428px;
    height: 275px;
}
.testimonial{
    height: 100vh;
    width: 100%;
    
}
.back{
    height: 100vh;
    width: 100%;
    background-color: #12273D;
}
#tesla{
    z-index: 2;
    position: absolute;
    top: 295px;
    left: 500px;
    justify-items: center;
}
.testimonial{
    width: 100%;
    height: 876px;
}
#test{
    width: 1005px;
    height: 165px;
    color:#EBEBEB;
    font-weight: 700;
    font-size: 118px;
    font-family:  "Lora", serif;
    opacity: 0.05;
    justify-self: center;
    margin: 0;
}
#test2{
    width: 295px;
    height: 61px;
    font-family:  "Lora", serif;
    font-weight: 700;
    font-size: 48px;
    color: white;
    justify-self: center;
    position: relative;
    top: -120px;
}
.test-Group{
    width: 846px;
    height: 424px;
    background-color: white;
    justify-self: center;
    justify-items: center;

}

.logos{
    margin: 90px;
    display: flex;
    justify-content: space-between;
}
.group-footer{
    margin: 0px 50px 0px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#oop{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #12273D;
}
#aab{
    text-align: center;
    justify-items: center;
    font-family: "Nunito Sans", sans-serif;
}
.btn{
    background-color: #741906;
    width: 136px;
    height: 53px;
    border-radius: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.form-control{
    width: 276px;
    height: 54px;
    border:0.5px, solid, #741906;
    border-radius: 0px;
}
#ghj{
    width: 159px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
#pop{
    display: flex;
    flex-direction: column;
    align-items:baseline
}